<%
   issues = @snapshot.measure('violations')
   blocker_issues = @snapshot.measure('blocker_violations')
   critical_issues = @snapshot.measure('critical_violations')
   major_issues = @snapshot.measure('major_violations')
   minor_issues = @snapshot.measure('minor_violations')
   info_issues = @snapshot.measure('info_violations')
   
   values = [blocker_issues, critical_issues, major_issues, minor_issues, info_issues]
   if dashboard_configuration.selected_period?
     values = values.map { |m| m ? (m.variation(dashboard_configuration.period_index)||0) : 0 }
   else
     values = values.map { |m| m ? (m.value||0) : 0 }
   end
   max = values.map { |val| val.abs }.max



   severity_by_lang_count = Hash.new(0)
   issues_by_lang_total = Hash.new(0)
     
   ['js', 'css', 'html'].each do |language|
  	  severity_by_lang_count[language] = Hash.new(0)
          
      # generate map that counts issues by severity
      ['blocker', 'critical', 'major', 'minor', 'info'].each do |severity|
          # load first page with only one result. The total number of elements will be provided
	      severity_by_lang_count[language][severity] = Api.issues.find({
	          'languages' => language,
	          'componentRoots' => @project.key,
	          'resolved' => false,
	          'severities' => severity.upcase,
	          'pageSize' => 1
	      }).paging.total
	      
	      # count total issues for one language
	      issues_by_lang_total[language] += severity_by_lang_count[language][severity]
	  end
   end
%>

<style>
	/* TODO : should not be defined here !!! */
	#issues-by-language .ui-widget-header li a {
		border-bottom: none;
		color: #236a97;
		padding: 10px 20px;
		display: block;
	}
	#issues-by-language .ui-tabs-nav li {
		position: relative;
		top: 0;
		float: left;
		border-right: 1px solid #cae3f2;
		border-top: 1px solid #cae3f2;
	}
	#issues-by-language .ui-tabs-nav li:first-child {
		border-left: 1px solid #cae3f2;
	}
	#issues-by-language .ui-tabs-panel {
		clear: both;
		padding: 10px 0;
		border: 1px solid #cae3f2;
		font-size: 0;
	}
	#issues-by-language .ui-tabs-nav li.ui-tabs-active {
		margin-bottom: -1px;
		padding-bottom: 1px;
		z-index: 1;
		background: #fff;
	}
	
	/* override for sonar < 4.5 */
	#issues-by-language .widget-label {
		font-size: 13px;
	}
	#issues-by-language .link-rules-issues {
		font-size: 20px;
		font-weight: bold;
	}
	#issues-by-language table {
		font-size: 12px;
	}
</style>
<div class="" id="issues-by-language">
   <ul>
 		<% ['js', 'css', 'html'].each do |language| %>
 	   		<li><a href="#<%=language.downcase-%>-issues"><span class="widget-label"><%= language.upcase -%> (<%= issues_by_lang_total[language] -%>)</span></a>
 	   	<% end %>
   </ul>
   
   <%
      ['js', 'css', 'html'].each do |language|
          all_severities_params = {:componentRoots => @project.key, :resolved => false, :languages => language, :sort => 'SEVERITY', :asc => false}
   %>
        <div class="widget-span" id="<%=language.downcase-%>-issues">
         <div class="widget-span widget-span-6">
          <div class="widget-measure-container">
           <div class="widget-measure widget-measure-main">
		    <div class="widget-label">Issues for <%= language.upcase -%></div>
		    <div class="nowrap">
		     <span class="link-rules-issues">
		      <%= link_to issues_by_lang_total[language], {:controller => 'issues', :action => 'search', :anchor => all_severities_params.map{|k,v| "#{k}=#{v}"}.join('|') }, :class => 'widget-link' -%>
		     </span>
		    </div>
		   </div>
		  </div>
		 </div>
		 <div class="widget-span widget-span-6">
	      <table class="data widget-barchar">
	    
	    
	    
	    	<% ['blocker', 'critical', 'major', 'minor', 'info'].each do |severity| %>
	    		<%
	    		   issues_count = severity_by_lang_count[language][severity]
	    		   severity_params = {:componentRoots => @project.key, :severities => severity.upcase, :resolved => false, :languages => language}
	    		%>
	    		<tr>
			        <td class="nowrap">
			          <i class="icon-severity-<%=severity-%>"></i>
			          <%= message(severity) -%>
			        </td>
			        <td class="thin right nowrap">
			          <%= link_to issues_count, {:controller => 'issues', :action => 'search', :anchor => severity_params.map{|k,v| "#{k}=#{v}"}.join('|') }, :class => 'widget-link drilldown_'+severity -%>
			        </td>
			        <td class="nowrap">
			          <% if max > 0 %>
			            <% if dashboard_configuration.selected_period? %>
			              <%= barchart(:width => 35, :percent => (issues_count<0 ? (100 * issues_count / max).to_i : 0), :color => '#85bb43') %>
			              <%= barchart(:width => 35, :percent => (issues_count>0 ? (100 * issues_count / max).to_i : 0), :color => '#d4333f') %>
			            <% else %>
			              <%= barchart(:width => 70, :percent => (100 * issues_count / max).to_i) %>
			            <% end %>
			          <% end %>
			        </td>
		        </tr>
		    <% end %>    
		    
		    
		    
	      </table>
	     </div>
	   </div>
	<% end %>
	
	<script>jQuery("#issues-by-language").tabs();</script>
</div>
